--extra-index-url https://download.pytorch.org/whl/rocm6.2

ccxt>=4.2.0
pandas
numpy<2
vectorbt>=0.26.0
scikit-learn
xgboost
pyyaml
matplotlib
seaborn
torch==2.5.1+rocm6.2
torchvision==0.20.1+rocm6.2
torchaudio==2.5.1+rocm6.2
stable-baselines3>=2.0.0
gymnasium>=0.26.0
tensorboard
statsmodels>=0.14.0
ta>=0.11.0
